<header id="header" style="opacity: 1; top: 0px;">
    <div class="row">
        <div class="col-12">
            <a id="logo" class="logo" href="https://www.adhamdannaway.com/">Mesa 6</a>
            <div class="icon-nav">navigation</div>
            <nav>
                <ul id="nav">
                    <li class="page_item page-item-2"><a href="https://www.adhamdannaway.com/about">about</a></li>
                    <li class="page_item page-item-833"><a href="https://www.adhamdannaway.com/ui-design-book">book</a>
                    </li>
                    <li class="page_item page-item-7"><a href="https://www.adhamdannaway.com/portfolio">portfolio</a>
                    </li>
                    <li class="page_item page-item-9"><a href="https://www.adhamdannaway.com/blog">blog</a></li>
                    <li class="page_item page-item-11"><a href="https://www.adhamdannaway.com/contact">contact</a></li>
                    <li>
                        <ul class="social">
                            <!-- <li class="email"><span id="email-tooltip" tooltip="Click to copy my email address to your clipboard 😀"><a id="email" data-clipboard-text="email address goes here">email</a></span></li> -->
                            <li class="twitter"><a href="https://www.twitter.com/AdhamDannaway"
                                    title="Follow me on Twitter" target="_blank">twitter</a></li>
                            <li class="linkedin"><a href="https://au.linkedin.com/in/adhamdannaway"
                                    title="Connect with me on Linkedin" target="_blank">linkedin</a></li>
                            <li class="facebook"><a href="https://www.facebook.com/ilikeadham"
                                    title="Like me on Facebook" target="_blank">facebook</a></li>
                            <li class="instagram"><a href="https://www.instagram.com/adham.dannaway"
                                    title="Follow me on Instagram" target="_blank">instagram</a></li>
                            <!-- <li class="dribbble"><a href="https://www.dribbble.com/adhamdannaway" title="See my Dribbble shots" target="_blank">dribbble</a></li> -->
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>